@import "tailwindcss";

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Basis Grotesque Arabic Pro';
}

button {
  cursor: pointer;
}

a,
a:hover,
button,
img {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.content-area {
  padding-top: 125px;
}

@media only screen and (min-width: 1672px) {
  .container {
    max-width: 1640px;
  }
}

@media only screen and (max-width: 1671px) {
  .container {
    padding: 0 16px;
  }
}