@import "tailwindcss";

:root {
  --font-size: 16px;
  --background: #ffffff;
  --foreground: #202020;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Basis Grotesque Arabic Pro';
}

button {
  cursor: pointer;
}

a,
a:hover,
button,
img {
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
}

.content-area {
  padding-top: 125px;
}

@media only screen and (min-width: 1672px) {
  .container {
    max-width: 1640px;
  }
}

@media only screen and (max-width: 1671px) {
  .container {
    padding: 0 16px;
  }
}

@media only screen and (max-width: 767px) {
  .container {
    padding: 0 12px;
  }

  .content-area {
    padding-top: 136px;
  }

  .custom-px-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media only screen and (max-width: 401px) {
  .text-small-mobile {
    font-size: 14px;
  }
  .h-small-mobile {
    height: 64px;
  }
  .custom-px-small-mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
  .custom-px-mobile {
    padding-left: 8px;
    padding-right: 8px;
  }
  .w-small-mobile {
    width: 136px;
  }
}